.background-image{
    background-image: url("pexels-ave-calvar-martinez-4954706.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
header{

    text-align: center;
    height: 200px;
    width: 100%;
    
    overflow: auto;
    h1 {
        font-size: 70px;
        text-align: center;
        color: aliceblue;
        margin-top: 50px;
        
      }
      
}

  
  
  